<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websockets Cliente</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <main id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        <section class="chat">

            <h1>Websockets </h1>
            <form action="">
                <input v-model="text" type="text">
                <button type="submit" @click.prevent="sendChatMessage()">Enviar</button>
            </form>
            <div class="tab-row">
                <button class="tab-btn" :class="{active: activeRoom === 'general'}" @click="activeRoom = 'general'">General</button>
                <button class="tab-btn" :class="{active: activeRoom === 'typescript'}" @click="activeRoom = 'typescript'">TypeScript</button>
                <button class="tab-btn" :class="{active: activeRoom === 'nestjs'}" @click="activeRoom = 'nestjs'">NestJs</button>
            </div>
            <div class="tab-row">
                Status: {{isMemberOfActiveRoom ? 'Joined': 'Not Joined'}} <button @click="toggleRoomMembership()">{{ isMemberOfActiveRoom ? 'Leave': 'Join' }}</button>
            </div>
            <p>
                <ul>
                    <li v-for="msg of messages[activeRoom]">
                        <strong>{{msg.sender}}: </strong>{{ msg.message }}
                    </li>
                </ul>
            </p>
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                text: '',
                messages: {
                    general: [],
                    typescript: [],
                    nestjs: []
                },
                rooms: {
                    general: false,
                    typescript: false,
                    nestjs: false
                },
                socket: {chat: null, alerts: null},
                alerts:[],
                activeRoom: 'general'
            },
            methods: {
                sendChatMessage() {
                    // check si un miembro activo de la sala
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('chatToServer', {sender: this.username, message: this.text, room: this.activeRoom});
                        this.text = '';
                    }else{
                        alert('¡debes ser miembro de la sala activa para enviar mensajes!');
                    }
                },
                receiveChatMessage(msg) {
                    this.messages[msg.room].push(msg);
                },

                recieveAlertMessage(msg) {
                    this.alerts.push(msg);
                },
                toggleRoomMembership(){
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('leaveRoom',this.activeRoom);
                    }else{
                        this.socket.chat.emit('joinRoom',this.activeRoom);
                        
                    }
                }

            },
            computed:{
                isMemberOfActiveRoom(){
                    return this.rooms[this.activeRoom];
                }
            },
            created() {
                this.username = prompt('Ingrese tu nombre');
                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => {
                    this.receiveChatMessage(msg);
                });

                this.socket.chat.on('connect',() => {
                    this.toggleRoomMembership();
                });

                this.socket.chat.on('joinedRoom', (room) => {
                    this.rooms[room] = true;
                });

                this.socket.chat.on('leftRoom', (room) => {
                    this.rooms[room] = false;
                });

                this.socket.alerts = io('http://localhost:3000/alert');
                this.socket.alerts.on('alertToClient', (msg) => {
                    this.recieveAlertMessage(msg);
                });
            }
        });

    </script>
</body>

</html>